body{
    margin: 0 0;
    background-color: rgb(240, 229, 236);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    background-color: rgb(70, 9, 49);
    padding: 10px 10%;
    color: rgb(240, 229, 236);
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}
footer{
    background-color:rgb(133, 101, 121);
    color: rgb(240, 229, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.inicio{
    background-image: url("mulher.jpg");
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:500px;
    margin: 0 0;
}
button{
    width: 200px;
    color:rgb(240, 229, 236);
    background-color:rgb(70, 9, 49);
    padding: 10px;
    border-style: none;
    border-radius: 20px;
}

.sobre p{
    padding: 0 10%;
    text-align: justify;
    color: rgb(240, 229, 236);
}
.contato{
    padding: 0 10%;
    text-align: justify;
    color:rgb(70, 9, 49);
}
.sobre{
    background-color: rgb(133, 101, 121);
    padding: 10px 0;
}
h1{
    font-size: 50px;
    text-align: center;
    color:rgb(240, 229, 236);
}
strong{
    color: rgb(70, 9, 49);
}
.sobre h2{
    font-size: 40px;
    text-align: right;
    color:rgb(70, 9, 49);
    margin: 0 10%;
    padding: 20px 0;
}
.contato h2{
    font-size: 40px;
    text-align: left;
    color:rgb(70, 9, 49);
    padding: 20px 0;
}

@media only screen and (max-width: 800px) {
    .inicio{
        background-image: url("mulher.jpg");
        background-size: 200%;
        background-attachment: fixed;
    }
    button{
        width: 200px;
        color:rgb(240, 229, 236);
        background-color:rgb(70, 9, 49);
        padding: 10px;
        border-style: none;
        border-radius: 20px;
    }
}
